<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/business/login/style.css" />
    <script src ="js.js"></script>
  </head>
  <body>
    <div class="lieferspatz">

      <div class="div">
        <div class="overlap">
          <div class="overlap-1">
            <img class="screenshot" src="/static/logo.png" />
            <span class="lieferspatz-name"> lieferspatz</span>
          </div>
        </div>
    

      <div class="group">
        <div class="overlap-group">

          <span class="konto-erstellen">Choose an account type</span>

    
            <hr class="line-3"/>
            <a href="/customer-login">
                <button class="weiterBox">
                    <div class="weiter">Customer</div>
                </button>
            </a>
            <a href="/business-login">
                <button class="weiterBox">
                    <div class="weiter">Business</div>
                </button>
            </a>

        <hr class="line-3"/>

            
        </div>
      </div>
    </div>
  </body>
</html>
