<div class="container">

  <div class="row my-4">
      <!-- Logo and company name placeholder -->
      <div class="col-md-2 d-flex align-items-left">
          <img src="/static/logo.png" class="img-fluid" alt="Company Logo" style="max-width: 50px; margin-right: 10px;">
          <h4>lieferspatz</h4>
      </div>
  
      <!-- Menu buttons right-aligned -->
      <div class="col-md-8 text-right ">
          <button class="btn btn-outline-primary" onclick="location.href='/business-view-items'">
              <i class="fas fa-cutlery"></i>My Menu</button>
              <button class="btn btn-outline-primary" onclick="location.href='/business-view-orders'">
                <i class="fas fa-history"></i>My Orders</button>
            <button class="btn btn-outline-primary" onclick="location.href='/business-settings'">
                <i class="fas fa-cog"></i>Settings</button>
          
          <button class="btn btn-outline-primary" onclick="location.href='/logout'">
              <i class="fas fa-sign-out"></i>Logout</button>
      </div>
  </div>
  </div>