<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/business/login/style.css" />
    <script src ="js.js"></script>
  </head>
  <body>
    <div class="lieferspatz">

      <div class="div">
        <div class="overlap">
          <div class="overlap-1">
            <img class="screenshot" src="/static/logo.png" />
            <span class="lieferspatz-name"> lieferspatz</span>
          </div>
        </div>
    

      <div class="group">
        <div class="overlap-group">

          <span class="konto-erstellen">Business Login</span>

          {% include 'business/includes/messages.html' %}

        <form method="POST" >
         
                <input type="text-2" id="Email" name="email" required placeholder ="Enter your email" >

                <input type="password" id="password" name="password" required placeholder ="Enter your password" >
            
       
            <button type="submit" name="submit" class="weiterBox">
                <div class="weiter">Weiter</div>
            </button>

        </form>
          <hr class="line-3"/>
          <a href="/business-register">
              <button class="weiterBox">
                <div class="weiter">Register</div>

              </button>
            </a>


            <p class="p"> This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
            
        </div>
      </div>
    </div>
  </body>
</html>
