<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="/static/business/register/index.css" />
    <script src ="/static/business/register/js.js"></script>
  </head>
  <body>
    <div class="lieferspatz">

      <div class="div">
        <div class="overlap">
          <div class="overlap-1">

            <img class="screenshot" src="/static/logo.png" />
            <span class="lieferspatz-name"> lieferspatz</span>
          </div>
        </div>

        <div class="group">
          <div class="overlap-group">

          <span class="konto-erstellen">Konto erstellen</span>


          {% include 'business/includes/messages.html' %}

        <form method="POST" enctype="multipart/form-data">

            <div class="auto-layer-row-f">
                <input type="Restaurantname" id="Restaurantname" name="name" required placeholder ="Restaurant name" >
                <input type="Beschreibung" id="Beschreibung" name ="description" required placeholder ="Beschreibung" >
            </div>

            <div class="auto-layer-row-e">
                <input type="straßenname" id="Straßenname" name="street" required placeholder ="Straßenname" >
                <input type="plz" id="PLZ" placeholder ="PLZ" required  name="city">
                <input type="stadt" id="Stadt" placeholder ="Stadt" required name="zip_code">
            </div>

            <div class="auto-layer-row-c">
                <div class="rectangle-6">
                    <span class="fugen-sie-ein-foto">Fügen Sie ein Foto des Restaurants hinzu.</span>
                    <input type="file" class="UploadImg" id="photoInput" name="picture" accept="image/*" onchange="handleFile()" >
                </div>
                
                <input type="text-5" id="Email" name="email" required placeholder ="Enter your email" >
                <input type="password" id="password" name="password" required placeholder ="Enter your password" >
                
            </div>
            
            <button  type="submit" name="submit"   class="weiterBox">
                <div class="weiter">Weiter</div>
            </button>
        </form>

          <hr class="line-3"/> 

          <p class="p">
            This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
          </p>
        </div>
    </div>
  </body>
</html>
