<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'business/includes/header.html' %}
</head>
  <body>
    <div class="main-container">
     
        {% include 'business/includes/menu.html' %}
        {% include 'business/includes/items-header.html' %}
     


      <div class="Containet-box" >
     
        {% include 'business/includes/messages.html' %}



        <div id="products" class="products">
          
            {%for item in items %}
                <div class="rectangle-25 editable-container" data-container-id="rectangle-25" >
                    <img src="{{ item['picture_link'] }}" class="pic-7 editable-element">
                    <p class="wings editable-element" >{{ item['name'] }}</p>
                    <p class="wings-discription editable-element">{{ item['description'] }}</p>
                    <p class="Price-2 editable-element">$ {{ item['price'] }}</p>
                    
                    <a href="/business-edit-item/{{ item['id'] }}">
                        <button id="toggleButton" data-container-id="rectangle-25" class="addButton-2">Edit</button>
                    </a>
                    <button id="removeButton" data-container-id="rectangle-25" class="addButton-2" onclick="confirmDelete({{ item['id'] }})">Remove Item</button>
                </div>
            {%endfor%}

        </div>
        
        <center>
            <a href="/business-add-item">
                <button class="add-item text-center" >Add An Item</button>
            </a>
        </center>

      </div>

  
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="jss.js"></script>

    <script>
        function confirmDelete(item_id) {
            var result = confirm("Are you sure you want to delete this item?");
            if (result) {
                window.location.href = '/business-delete-item/'+item_id;  // Replace with your actual delete URL
            }
        }
    </script>
  </body>
</html>
