<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/customer/register/style.css" />
  </head>
  <body>
    <div class="lieferspatz">

      <div class="div">
        <div class="overlap">
          <div class="overlap-1">
            <img class="screenshot" src="/static/logo.png" />
            <span class="lieferspatz-name"> lieferspatz</span>
          </div>
        </div>
    

      <div class="group">
        <div class="overlap-group">

          <span class="konto-erstellen">Konto erstellen</span>
          {% include 'customer/includes/messages.html' %}

          <form method="POST" >

            <div class="auto-layer-row-e">
              <input type="text" id="vorname" placeholder ="Vorname" name="first_name" required>
              <input type="text-1" id="nachname" placeholder ="Nachname" name="last_name" required>
            </div>

              <input type="text-2" id="Email" placeholder ="Email" name="email" required>
      
            <div class="auto-layer-row-cb">
                  <input type="text-3" id="Straßenname" placeholder ="Straße, Hausnummer" name="street" required>
                <input type="text" id="plz" placeholder ="PLZ" name="zip_code" required>
            </div>

            <input type="text-2" id="City" placeholder ="Stadt" name="city" required>
            
            <input type="password" id="password" placeholder ="Passwort" name="password" required>
            
              
            <button type="submit" name="submit"  class="weiterBox" required>
              <div class="weiter">Weiter</div>
            </button>
          
          </form>

          <hr class="line-3"/>
            <p class="p"> This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
            
        </div>
      </div>
    </div>
  </body>
</html>
