<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'customer/includes/header.html' %}
    <link rel="stylesheet" href="/static/customer/orders/style.css" /> 

  </head>
  <body>
    <div class="main-container">
     
        {% include 'customer/includes/menu.html' %}
        {% include 'customer/includes/items-header.html' %}
     


      <div class="Containet-box" >
     
        {% include 'customer/includes/messages.html' %}
        

        <div class="container mt-5">
          {% if items %}
            <div class="lieferspatz">
                <div class="group">
                    <div class="overlap-group">
            
                        <span class="RestaurantsBestellhistorie">Die Bestellhistorie deines Restaurants</span>
                        <hr class="line-0"/>
                        <div class="order-history">
            
                        {%for item in items%}
                            <div class="order-item">
                                <img src="{{ item['picture_link'] }}" width="100px" class="">
                                
                                <strong>Item:</strong> You Ordered {{ item['name'] }}<br>
                                <table class="table table-bordered" style="display: none;" id="table{{ item['id'] }}">
                                    <tr> <th>Order ID</th> <td>{{ item['id'] }}</td> </tr>
                                    <tr> <th>Description</th> <td>{{ item['description'] }}</td> </tr>
                                    <tr> <th>Price</th> <td>${{ item['price'] }}</td> </tr> 
                                    <tr> <th>Quantity</th> <td>{{ item['quantity'] }}</td>  </tr> 
                                    <tr> <th>Total</th> <td>${{ item['price'] * item['quantity'] }}</td>  </tr> 
                                    <tr> <th>Customer Additional Text</th> <td>{{ item['additional_text'] }}</td> </tr> 
                                    <tr> <th>Order Date</th> <td>{{ item['formatted_date'] }}</td> </tr>
                                </table>
                                <br>
                                
                                <button id="detailsButton" class="btn btn-sm btn-outline-secondary my-4" 
                                  onclick="$('#table{{ item['id'] }}').show()">
                                  View More Details
                                </button>
                                <br>
                                
                                {% set status = item['order_status'] %}

                                {% if status == 'processing' %}
                                    <button type="submit" class="btn btn-warning text-white float-right">
                                        <i class="fas fa-hourglass-half"></i> Processing
                                    </button>
                                {% elif status == 'preparing' %}
                                    <button type="submit" class="btn btn-info text-white float-right">
                                        <i class="fas fa-cog"></i> Preparing
                                    </button>
                                {% elif status == 'cancelled' %}
                                    <button type="submit" class="btn btn-danger text-white float-right">
                                        <i class="fas fa-times-circle"></i> Order Cancelled
                                    </button>
                                {% elif status == 'completed' %}
                                    <button type="submit" class="btn btn-success text-white float-right">
                                        <i class="fas fa-check-circle"></i> Order Completed
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-secondary text-white float-right">
                                        Unknown Status
                                    </button>
                                {% endif %}


                            </div>
                        {%endfor%}

                        
                    </div>
                </div>
            </div>
        
          {% else %}
            <div class="text-center">
              <p>*No orders found</p>
              <a href="/customer-view-businesses">
                <button type="submit" name="checkout" class="btn btn-primary btn-lg">Place Order</button>
              </a>
            </div>
          {% endif %}

      </div>
  
        

      </div>



    
    </div>
    {% include 'customer/includes/footer.html' %}

  </body>
</html>
