<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'customer/includes/header.html' %}

  </head>
  <body>
    <div class="main-container">
     
        {% include 'customer/includes/menu.html' %}
        {% include 'customer/includes/items-header.html' %}
     


      <div class="Containet-box" >
     
        {% include 'customer/includes/messages.html' %}

        {% if businesses %}

        <div id="products" class="products">
          
            {% for business in businesses %}
                <a href="/customer-view-menu/{{ business['id'] }}" style="text-decoration: none;">
                    <div class="rectangle-25 editable-container" data-container-id="rectangle-25" >
                        <img src="{{ business['picture_link'] }}" class="pic-7 editable-element">
                        <p class="wings editable-element" >{{ business['name'] }}</p>
                        <p class="wings-discription editable-element">Location: {{ business['city'] }}, {{ business['street'] }}</p>
                        <p class="wings-discription editable-element">Business Hours: {{ business['opening_hours'] }} - {{ business['closing_hours'] }}</p>
                        
                            <button id="toggleButton" data-container-id="rectangle-25" class="addButton-2">Available</button>
                    </div>
                </a>
            {% endfor %}

        </div>
        {% else %}
        <div class="text-center">
          <p>*No available restaurants that are open and operate in your ZIP code</p>
        </div>
      {% endif %}


      </div>

  
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="jss.js"></script>

    <script>
        function confirmDelete(business_id) {
            var result = confirm("Are you sure you want to delete this business?");
            if (result) {
                window.location.href = '/business-delete-business/'+business_id;  // Replace with your actual delete URL
            }
        }
    </script>
  </body>
</html>
